
<div class="w-full relative" id="postBox">
  <div
    class="absolute inset-0 bg-cover bg-center"
    {{!-- This will change to url('{{backgroundImage}}') --}}
    style="background-image: url('/assets/images/stormyphoto.jpg');"
  ></div>
  <div class="p-6 space-y-4 relative z-10">
    <span id="postContent">
      {{content}}
    </span>
  </div>
  <div class="p-6 space-y-4 relative z-10">
    <span id="postUsername">@{{user.username}}</span>
    <span id="postDisplayname">{{user.displayName}}</span><br>
    <span id="postDate" class="">{{{displayDate postDate}}}</span>
  </div>

</div>